*{
    margin:0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
body{
    background: hsl(180, 52%, 96%);
    max-width: 100vw;
}
#background{
    background-color: hsl(180, 29%, 50%);
    background-image: url('images/bg-header-mobile.svg');
    width: 375px;
    height: 15vh;
    margin-bottom: 7vh;
}

#filters {
    display: none;
    grid-template-columns: 4fr 1fr;
    position: relative;
    top: 8.5vh;
    align-items: center;
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 2vh;
    width: 93vw;
    background: white;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 7px 20px 0px #8cbfbf;
}

#filter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    padding-left: 1em;
    padding-top: 1em;

}

#filter-buttons button{
    border: white solid 0.2px;
    background: linear-gradient(to right, hsl(180, 52%, 96%) 71%,  hsl(180, 29%, 50%) 29%);
    border-radius: 8px;
    color: hsl(180, 29%, 50%);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8px;
    margin: 1vh auto 1vh 0 ;
    width: auto;
    column-gap: 6px;;
    font-weight: 700;
    font-size: 13px;
    text-align: left;
}

#filter-buttons img{
  margin: auto;
  padding-left: 5px;
}

#filter-clear {
    margin: auto;

}

#filter-clear button{
    border: none;
    background: white;
    font-weight: 700;
    color: hsl(180, 8%, 52%);
}

.filter {
    margin-top: 3vh;
    margin-left: 3vw;
}

main{
    list-style: none;
    padding: 2vh 5vw;
    max-width: 375px;
}



#job-listings{
    list-style: none;
    background-color: white;
    padding-left: 8vw;
    padding-right: 8vw;
    border-left: 5px solid hsl(180, 29%, 50%);
    border-radius: 5px;
    margin: 0 0 7vh 0;
    box-shadow: 4px 7px 20px 0px #8cbfbf;
    margin-top: 8vh;
}

li{
    margin-bottom: 2vh;
}

#listing{
    list-style: none;
}

#list-img{
    height: 4vh;
}

#list-img img{
    width: 4em;
    position: relative;
    bottom: 2.2em;
    right: 0.7em;
}

#list-head{
    display: grid;
    grid-template-columns: 0.8fr 0.5fr 1fr;
}

#company-name{
  color:hsl(180, 29%, 50%);
  font-weight: 700;
  margin: auto auto auto 0;
}

#new{
    border: solid 1px white;
    padding: 6px 8px;
    margin: auto auto auto 1vw;
    color: white;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
    background: hsl(180, 29%, 50%);
}

#featured{
    border: solid 1px white;
    padding: 6px 8px;
    margin: auto auto auto 1vw;
    color: white;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    border-radius: 20px;
    background: black;
}

#job-role{
    font-weight: 700;
}

#job-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid lightgray;
    color: hsl(180, 8%, 52%);
    padding-bottom: 2vh;
}

#filter-tags{
    display: grid;
    grid-template-columns: fit-content(20vw) fit-content(20vw) fit-content(20vw);
}

.tag{
    list-style: none;
    width: fit-content;
    background-color: hsl(180, 31%, 95%);
    color: hsl(180, 29%, 50%);
    border: 1px solid white;
    border-radius: 5px;
    padding: 9px;
    font-weight: 700;
    margin-right: 4vw;
    margin-left: auto;
}

@media screen and (min-width: 411px) {
    #background{
        width: 100vw;
    }
}

@media screen and (min-width: 700px) {
    #background{
        width: 100vw;
        background-image: url('images/bg-header-desktop.svg');
    }

    #filter-buttons{
        grid-template-columns: repeat(3,1fr);
        width: 50vw;
    }

    #job-listings{
        width: 75vw;
    }

    #list-head {
        width: 10vw;
    }

    #filter-buttons{
        padding-top: 0;
        
    }

    #filters{
        padding-bottom: 0;
    }

    .tag{
        cursor: pointer;
    }

    .tag:hover{
        background-color:hsl(180, 29%, 50%);
        color:white;
    }

    .filter{
        cursor: pointer;
    }

    #filter-buttons button:hover{
        background: linear-gradient(to right, hsl(180, 52%, 96%) 71%,  black 29%);
    }

    #clear{
        cursor: pointer;
    }
}

@media screen and (min-width: 1024px) {
    #job-listings{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #filter-tags{
        margin: auto;
    }

    #filter-buttons{
        width: 38vw;
    }

    #job-info{
        border-bottom: none;
        width: 23vw;
    }

    #job-listings{
        padding-right: 0;
        padding-left: 18vw;
    }

    #job-role{
        font-size: 19px;
    }

    #list-img{
        height: 1vh;

    }

    #list-img img {
        width: 9em;
        position: relative;
        bottom: -0.5em;
        right: 10.7em;
    }

    .tag{
        margin-right: 2vw;
    }
} 

@media screen and (min-width:1225px) {
    #list-img img{
        bottom: -1.3em;
        right: 11.7em;
    }

    #filter-buttons{
        width: 25vw;
    }
}

@media screen and (min-width: 3500px) {
    *{
        font-size: 115% !important;
    }

    #list-img img{
        width: 7em;
        bottom: -0.8vh;
    }

    #job-role{
        font-size: 109%;
    }

    #new{
        font-size: 109%;
    }

    #filter-buttons button{
        column-gap: 1vw;
    }

    #filter-buttons img{
        width: 1vw
    }
}